{% extends "layout.html" %}
{% block content %}
    <h1 class = "text-left">Welcome to Women 360</h1>
    <br>
    {% if current_user.is_authenticated %}
    <a class="btn btn-secondary" href="{{ url_for('users.update') }}">Edit Profile</a>
    <a class="btn btn-secondary" href="{{ url_for('menstruation.periods') }}">Menstruation Cycles</a>
    <a class="btn btn-secondary" href="{{ url_for('healthMonitor.healthHome') }}">Health Monitor</a>
    <a class="btn btn-secondary" href="{{ url_for('home.wip') }}">Nutrition and Diet</a>
    <br> <br>
    {% endif %}
    <img class="rounded float-center" src="static/home_image.jpg">
{% endblock content %}
