{% extends "layout.html" %}
{% block content %}
    <h1>Here you can see you data related to Menstruation </h1>
    <br>
    {% if current_user.is_authenticated %}
        <div>
            {% if data.lastPeriodStart %}
                <h4> Last Period: {{ data.lastPeriodStart.strftime('%Y-%m-%d') }} to {{ data.lastPeriodEnd.strftime('%Y-%m-%d') }}</h4>
            {% else %}
                <p> Please track your periods to get details!
            {% endif %}

            {% if predictions.nextPeriodStart %}
                <h4> Next Period: {{ predictions.nextPeriodStart.strftime('%Y-%m-%d') }} to {{ predictions.nextPeriodEnd.strftime('%Y-%m-%d') }}</h4>
            {% else %}
                <p> Please update some details in the Profile section to know about predictions! </p>
            {% endif %}
        </div>
        <br>
        <div>
            <a class="nav-item nav-link" href="{{ url_for('menstruation.track') }}">Track-Periods</a>
            <a class="nav-item nav-link" href="{{ url_for('home.homepage') }}">Return to HomePage</a>
        </div>
        <div>
            <a class="nav-item nav-link" href="{{ url_for('home.wip') }}">Checkout some FAQ's and Myths</a>
        </div>
    {% endif %}
{% endblock content %}